<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="margin:20px auto">
		
<form action="{DOMAIN_NAME}/DDApi/auth/courseplatformauthorizeinfo" method="post" id="loginFrom">
    <div class="userId">账 号：
      <input name="userName" id="userName" type="text">
    </div>
    <div class="PW">密 码：
      <input name="userPass" id="userPass" type="password">
    </div>
    <input type="hidden" name="appKey" id="appKey" value="c394793aab26bdb0e62ea5c7fcd00085">
    <input type="hidden" name="appName" id="appName" value="教材支撑平台">
    <input type="hidden" name="callBackUrl" id="callBackUrl" value="http://wenku.dodoedu.com/callback.php">
    <input type="hidden" name="responseType" id="responseType" value="code">
    <input type="hidden" name="state" id="state" value="fc8f1a62ae21267c7776de2c2b772a75">
    <div class="btn"><input name="" type="submit" value="登 录" class="loginBtn"><a href="javascript:;" title="" target="" class="grayA" onclick="history.go(-1)">取消</a></div>
  </form>
	</div>
</body>
</html>