<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>湖北省中小学教辅资料管理平台</title>
        <link href="{BASE_PATH}/statics/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="{BASE_PATH}/statics/css/table_form.css" rel="stylesheet" type="text/css" />
        <link href="{BASE_PATH}/statics/css/system.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{BASE_PATH}/statics/js/jquery.min.js"></script>
        <script type="text/javascript" src="{BASE_PATH}/statics/js/admin_common.js"></script>
        <script type="text/javascript" src="{BASE_PATH}/statics/js/formvalidator.js"></script>
        <script type="text/javascript" src="{BASE_PATH}/statics/js/artdialog/artDialog.js?skin=default"></script>
		<script type="text/javascript" src="{BASE_PATH}/statics/js/artdialog/plugins/iframeTools.js"  ></script>
		</head>
    <body>
   <!--<div class="subnav">
            <div class="content-menu ib-a blue line-x">
                <a href='{BASE_PATH}/index.php/Admin_Menu/index'><em>菜单管理</em></a><span>|</span><a href='{BASE_PATH}/index.php/Admin_Menu/add/' ><em class="on">添加菜单</em></a>
            </div>
   </div> 	
		-->
		