body {
	font-size: 14px;
	text-decoration: none;
	color: #0D47A8;
	background-color: #F1F1F1;
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
	background-image: url(../images/0308.gif);
	letter-spacing: 1px;
}
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	font-size: 12px;
	color: #4B4B4B;
	text-decoration: none;
	letter-spacing: 0.8px;
}
a:link img {
	border: none;
}
a img {
	border: none;
}
a:hover {
	font-size: 12px;
	color: #4B4B4B;
	text-decoration: none;
	letter-spacing: 0.8px;
}


li
{
	margin: 0;
	padding: 0;
}
form {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
