#wrapper {
	width:948px;
	overflow:hidden;
	margin:0 auto;
	padding:44px 0 0 0;
}

#header {
	width:948px;
	height:38px;
	overflow:hidden;
}

.logo {
	margin:3px 0 0 2px;
}

.headerR {
	width:120px;
	text-align:right;
	padding:13px 10px 0 0;
}

#search {
	height:38px;
	color:#fff;
	font-size:14px;
	padding:0 17px;
	background:url(../images/search_bg.gif) repeat-x left top;
}

#search form {
	padding:5px 0 0 45px;
	background:url(../images/search_icon.gif) no-repeat left 3px;
}

#search form input {
	width:220px;
	height:21px;
	line-height:21px;
	border:1px solid #8b8b8b;
	background:#f1f6fc;
	vertical-align:middle;
}

#search form .searchBtn {
	width:56px;
	height:23px;
	border:none;
	background:url(../images/search_btn.gif) no-repeat left center;
}

#search span {
	text-align:right;
	font-size:12px;
	padding:0 0 0 95px;
}

#search a:link,#search a:visited {
	color:#fff;
}

#search a:hover {
	color:#fff;
}

#conBox {
	width:948px;
	overflow:hidden;
	padding:12px 0 0 0;
}

.sidebar {
	width:200px;
	overflow:hidden;
}

.login {
	font-size:0;
}

.login img {
	vertical-align:top;
}

.loginM {
	width:198px;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	overflow:hidden;
}

.loginM div {
	width:196px;
	height:135px;
	overflow:hidden;
	margin:0 auto;
	background:url(../images/login_m.gif) repeat-x left top;
}

.loginM h2 {
	font-size:14px;
	color:#2d68bf;
	padding:0 8px 5px 8px;
}

.loginM form {
	font-size:12px;
	width:180px;
	margin:0 auto;
	overflow:hidden;
	color:#666;
}

.loginM form img {
	vertical-align:middle;
}

.loginM form input {
	width:107px;
	height:18px;
	line-height:18px;
	border:1px solid #cdcdcd;
	vertical-align:middle;
}

.loginM form .yz {
	width:78px;
}

.loginM form .che {
	width:auto;
	height:auto;
	border:none;
}

.forPas {
	display:inline-block;
	width:97px;
	height:20px;
	text-align:center;
	margin:0 0 0 12px;
	background:url(../images/for_pas.gif) no-repeat left center;
}

.loginM form .loginBtn {
	width:67px;
	height:48px;
	border:none;
	background:url(../images/login_btn.gif) no-repeat left top;
}

.box {
	width:200px;
	overflow:hidden;
	padding:0 0 4px 0;
	margin:9px 0 0 0;
	background:url(../images/login_b.gif) no-repeat left bottom;
}

.boxT {
	width:200px;
	height:4px;
	font-size:0;
	background:url(../images/circle_t.gif) no-repeat left top;
}

.boxM {
	width:198px;
	overflow:hidden;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}

.notice h2 {
	font-size:14px;
	color:#2d68bf;
	height:29px;
	line-height:29px;
	padding:0 10px;
}

.notice h2 a {
	margin:10px 0 0 0;
}

.notice .noticeList {
	width:182px;
	height:166px;
	margin:0 auto 5px auto;
	overflow:hidden;
	background:url(../images/list_bg.jpg) no-repeat left top;
}

.noticeList ul {
	width:178px;
	height:145px;
	overflow:hidden;
	margin:0 auto;
	padding:10px 0 0 0;
}

.noticeList ul li {
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding:0 0 0 18px;
	border-bottom:1px solid #e8e8e8;
	background:url(../images/icon2.gif) no-repeat 8px center;
}

.noticeList ul .rec {
	background:url(../images/icon1.gif) no-repeat 8px center;
}

.ZBS {
	padding:4px 0 0 0;
}

.ZBS h2 {
	width:170px;
	height:22px;
	line-height:22px;
	margin:0 auto;
	padding:0 5px;
	font-size:14px;
	color:#fff;
	background:url(../images/title_bg1.gif) no-repeat left top;
}

.ZBS h2 a {
	display:inline-block;
}

.ZBS h2 a img {
	margin:10px 0 0 0;
	vertical-align:top;
}

.ZBS ul {
	width:180px;
	height:213px;
	overflow:hidden;
	margin:0 auto;
	padding:4px 0 0 0;
}

.ZBS ul li {
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 10px 0 20px;
	border-bottom:1px dashed #969696;
	background:url(../images/icon3.gif) no-repeat 5px center;
}

.conBox {
	width:730px;
	overflow:hidden;
}

.location {
	color:#666;
	padding:0 0 4px 0;
}

.ad1 {
	width:730px;
	height:156px;
	line-height:156px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	overflow:hidden;
	background:#00b6dd;
}
.ad_2 {
	width:730px;
	height:90px;
	line-height:90px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	overflow:hidden;
	background:#00b6dd;
}

.recList {
	padding:5px 0 0 0;
}

.recTitle {
	width:730px;
	height:70px;
	overflow:hidden;
	background:url(../images/title2.gif) repeat-x left top;
}

.recL {
	width:535px;
	overflow:hidden;
}

.recL h2 {
	font-size:14px;
	color:#333;
	height:36px;
	line-height:36px;
	padding:0 0 0 34px;
	background:url(../images/icon4.gif) no-repeat 4px center;
}

.recL ul li {
	float:left;
	margin:0 1px 0 0;
}

.recL ul li a:link,.recL ul li a:visited {
	text-align:center;
	display:inline-block;
	width:105px;
	height:34px;
	line-height:30px;
	color:#fff;
	text-decoration:none;
	background:url(../images/tab.gif) no-repeat left center;
}

.recL ul li a:hover {
	text-align:center;
	display:inline-block;
	width:107px;
	height:34px;
	line-height:30px;
	color:#fff;
	text-decoration:none;
	background:url(../images/tab_h.gif) no-repeat left center;
}

.recL ul .tabHover {
	text-align:center;
	display:inline-block;
	width:107px;
	height:34px;
	line-height:30px;
	color:#fff;
	text-decoration:none;
	background:url(../images/tab_h.gif) no-repeat left center;
}

.pdf {
	width:182px;
	overflow:hidden;
	background:url(../images/pdf_bg.gif) no-repeat right top;
}

.pdf p {
	line-height:19px;
	color:#333;
	padding:4px 0 0 64px;
}

.pdf p span {
	color:#007db9;
	font-size:14px;
}

.pdf p a {
	color:#333;
}

.recCon {
	width:730px;
	height:310px;
	overflow:hidden;
	margin:3px 0 0 0;
	border-top:2px solid #2a63a8;
}

.recCon table {
	color:#666;
}

.page {
	text-align:center;
	padding:10px 0 0 0;
}

.page a:link,.page a:visited {
	margin:0 0 0 10px;
	color:#8c8c8c;
	text-decoration:none;
}

.page a:hover {
	margin:0 0 0 10px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
}

.page a img {
	vertical-align:text-bottom;
}

.ad2 {
	width:730px;
	height:51px;
	overflow:hidden;
}

.ad2 div {
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	line-height:51px;
	float:left;
	display:inline;
	margin:0 2px;
	width:178px;
	height:51px;
	background:#b3b3b4;
}

#footer {
	color:#333;
	line-height:23px;
	text-align:center;
	padding:10px 0 30px 0;
	margin:15px 0 0 0;
	border-top:3px solid #8b8b8b;
}