#wrapper {
    background:url(../images/header_bg.jpg) repeat-x left top;
}

#header {
    width:996px;
    height:95px;
    overflow:hidden;
    margin:0 auto;
}

.logo {
    margin:32px 0 0 8px;
}

.headerR {
    width:570px;
    overflow:hidden;
    color:#bababa;
    position:relative;
}
.welcome {
    color:#333;
    height:31px;
    margin:33px 0 0 0;
    padding:3px 0 0 0;
}

.headerR form {
    color:#333;
    height:31px;
    margin:33px 0 0 0;
    padding:3px 0 0 0;
    background:url(../images/login_bg.jpg) no-repeat left top;
}

.headerR form input {
    width:93px;
    height:19px;
    line-height:19px;
    border:1px solid #c0c0c0;
    vertical-align:middle;
}


.headerR form .loginBtn {
    width:54px;
    height:24px;
    border:none;
    margin:0 10px 0 0;
    background:url(../images/login_btn.gif) no-repeat left top;
}

.bannerBg {
    text-align:center;
    height:373px;
    overflow:hidden;
    background:url(../images/banner_bg.jpg) repeat-x left top;
}

.bannerBg img {
    vertical-align:top;}

#conBox {
    background:url(../images/body_bg.gif) repeat-x left top;
}

.noAs {
    width:996px;
    height:35px;
    line-height:35px;
    margin:0 auto;
    background:url(../images/NS_bg.jpg) no-repeat center top;
}

.noAsCon {
    width:960px;
    margin:0 auto;
    overflow:hidden;
}

.notice {
    width:550px;
    color:#ccc;
    overflow:hidden;
}

.notice strong {
    display:inline-block;
    width:61px;
    height:18px;
    line-height:18px;
    color:#fff;
    font-weight:normal;
    text-align:center;
    background:url(../images/noticeT_bg.gif) no-repeat left center;
}

.newIcon {
    display:inline-block;
    width:23px;
    height:20px;
    background:url(../images/new_icon.gif) no-repeat left 3px;
}

.search {
    width:397px;
    overflow:hidden;
}

.search strong {
    float:left;
    display:inline-block;
    width:61px;
    height:18px;
    line-height:18px;
    color:#fff;
    font-weight:normal;
    text-align:center;
    margin:9px 8px 0 0;
    background:url(../images/searchT_bg.gif) no-repeat left center;
}

.search form {
    padding:7px 0 0 0;
}

.search form input {
    width:258px;
    height:19px;
    line-height:19px;
    color:#bfc0c0;
    vertical-align:top;
    border:1px solid #c0c0c0;
    background:#f8f8f8;
}

.search form .searchBtn {
    width:59px;
    height:24px;
    border:none;
    background:url(../images/search_btn.gif) no-repeat left top;
}

.conSpace {
    width:974px;
    padding:9px 12px 20px 10px;
    margin:0 auto;
    overflow:hidden;
}

.con {
    width:732px;
    margin:0 auto;
    overflow:hidden;
}

.traitO {
    width:250px;
    overflow:hidden;
}

.traitOcon {
    width:226px;
    overflow:hidden;
    color:#737373;
    padding:0 0 0 8px;
}

.traitOcon ul li {
    line-height:18px;
    padding:7px 0 0 18px;
    background:url(../images/s_icon.gif) no-repeat 4px 12px;
}

.traitTcon,.traitTHcon  {
    width:234px;
    overflow:hidden;
}

.traitTcon p,.traitTHcon p {
    color:#737373;
    line-height:18px;
    padding:7px 0 0 0;
}

.traitOcon h2,.traitTcon h2,.traitTHcon h2 {
    padding:18px 0 6px 0;
    border-bottom:1px solid #aeaeae;
}

.sidebar {
    width:242px;
}

.bookList {
    width:234px;
    margin:0 0 0 2px;
    overflow:hidden;
}

.bookList ul {
    width:195px;
    margin:0 0 0 10px;
    padding:8px 0 0 20px;
    background:url(../images/page.gif) no-repeat left 15px;
}

.bookList ul li {
    height:24px;
    line-height:24px;
}

.bookList ul span {
    color:#737373;
}

.link {
    width:960px;
    margin:0 auto;
    overflow:hidden;
}

.linkT {
    width:960px;
    height:4px;
    font-size:0;
    background:url(../images/link_t.gif) no-repeat left top;
}

.linkM {
    width:938px;
    padding:5px 10px;
    border-left:1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;
    background:#f7f7f7;
    overflow:hidden;
}

.linkB {
    width:960px;
    height:4px;
    font-size:0;
    background:url(../images/link_b.gif) no-repeat left top;
}

.linkM h2 {
    font-size:0;
    width:66px;
    padding:1px 0 0 0;
}

.linkCon {
    width:865px;
    overflow:hidden;
}

#footer {
    margin:25px 0 0 0;
    background:#f5f5f5 url(../images/footer_bg.gif) repeat-x left top;
}

.footerCon {
    width:996px;
    margin:0 auto;
    padding:25px 0;
    line-height:25px;
    text-align:center;
    color:#333;
    background:url(../images/footer_bg1.gif) no-repeat left top;
}
.ipt_reg{width:46px; margin-right:16px; *overflow:hidden;text-align:left;font-size:16px;font-weight:bold;}
.yzm{position:absolute; background:url(/statics/images/admin_img/login_ts100x58.gif) no-repeat; width:100px; height:38px;right:18%;top:0px; text-align:center; font-size:12px; display:none;}
.yzm img{cursor:pointer; margin:0px; width:90px; height:32px; border:1px solid #fff;}
.order {
    width:772px;
    padding:5px 17px 5px 17px;
    margin:0 auto;
    background:#efefef;
    font-size: 14px;
}

.order td {
    line-height:22px;
    color:#221815;
    font-size:14px;
    padding:5px 0 5px 10px;
}

.order td img {
    vertical-align:baseline;
}

.tdLine {
    border-bottom:1px solid #b5b5b6;
}