#wrapper {
	width:948px;
	height:430px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-215px 0 0 -474px;
	overflow:hidden;
}

#header {
	overflow:hidden;
	padding:0 0 5px 0;
}

.header_r {
	width:110px;
	height:25px;
	line-height:25px;
	text-align:right;
	padding:0 25px 0 0;
}

.logo {
	padding:0 0 0 18px;
}

#contentBox {
	padding:0 0 15px 18px;
	overflow:hidden;
	border-bottom:1px solid #00a0e9;
}

.sidebar {
	width:629px;
}

.sidebar ul {
	padding:0 26px;
}

.sidebar ul li {
	color:#221815;
	font-size:14px;
	background:url(../images/login_sIcon1.gif) no-repeat 18px 39px;
	text-indent:35px;
	padding:36px 0 5px 0;
}

.content {
	width:292px;
	height:376px;
	border:1px solid #00a0e9;
	background:#eaf6fd;
}

.content h2 {
	font-size:15px;
	font-family:"微软雅黑";
	padding:42px 0 7px 55px;
	background:url(../images/login_sIcon2.gif) no-repeat 35px 44px;
}

.content table {
	font-size:14px;
	line-height:33px;
}

.content table input {
	padding:2px;
	border:1px solid #000;
	vertical-align:middle;
}

.content table .loginCheckbox {
	border:none;
}

.content table .loginButton {
	width:101px;
	height:35px;
	border:none;
	background:url(../images/login_button.jpg) no-repeat left center;
}

.content form {
	width:260px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 15px 0;
	border-bottom:1px dashed #394551;
}