body {
	font-size:12px;
	font-family:"宋体";
	line-height:20px;
	text-align:center;
	padding:0;
	margin:0;
}

div,h1,h2,h3,h4,h5,h6,ul,ol,li,form,input,textarea,dl,dt,dd {
	margin:0;
	padding:0;
	text-align:left;
}

p {
	padding:0;
	margin:0;
}

ul,ol,li {
	list-style:none;
}

img {
	border:none;
	vertical-align:middle;
}

a:link,a:visited {
	color:#666;
	text-decoration:none;
}

a:hover {
	color:#007db9;
	text-decoration:underline;
}

a.red:link,a.red:visited {
	color:#de0010;
	text-decoration:none;
}

a.red:hover {
	color:#de0010;
	text-decoration:underline;
}

.blueTxt {
	color:#007db9;
}

.blueTxt1 {
	color:#59708a;
}

.floatL {
	float:left;
}

.floatR {
	float:right;
}

.clear {
	clear:both;
}