@charset "gb2312";
@import url("common.css");
@import url("base.css");

#container {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	background-repeat: repeat-x;
	background-position: left bottom;
	overflow: auto;
	height: 226px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.img_line{
	border: 1px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-right: 7px;}

/* 网页头部 */
#header {
	width:1000px;
	height:126px
	padding:0;
	height: 112px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 112px;
	width: 448px;
	float: left;
}
#main_m_t {
	background-image: url(../images/0309.gif);
	background-repeat: repeat-x;
	height: 20px;
	width: 9426px;
	background-position: bottom;
	padding-top: 30px;
	padding-bottom: 8px;
	padding-left: 19px;
	padding-right: 35px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
	margin: 0px;
}
.search {
	float: left;
	width: 490px;
	color: #5A5A5A;
	letter-spacing: 1px;
	text-align: left;
	background-image: url(../images/bj01.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px;
	height: 65px;
	padding-top: 46px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 41px;
}
.search li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.guangao {
	margin: 0px;
	padding: 0px;
	height: 104px;
	width: 1000px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ECECEC;
	border-bottom-color: #ECECEC;
	clear: both;
	overflow: visible;
}
.search_input {
	color: #000000;
	height: 16px;
	border: 1px solid #D3D1D1;
	clip:rect(   );
	width: 300px;
	background-image: url(../images/search3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.search_t {
	height: 19px;
	width: 88px;
	background-image: url(../images/search2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	margin: 0px;
	padding: 0px;
}



.top_menu {
	width:1000px;
	height: 30px;
	background-repeat: repeat-x;
	background-position: top;
	color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.top_menu li {
	float:left;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 7px;
}

#flash {
	background-color: #FFFFFF;
	height: 318px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
	background-image: url(../images/bj05.gif);
	background-repeat: repeat-x;
}
.flash_t {
	height: 302px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/* 网页主体部分 */
#header {
	width:1000px;
	height:126px
	padding:0;
	height: 112px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 112px;
	width: 448px;
	float: left;
}
.search {
	float: left;
	width: 490px;
	color: #5A5A5A;
	letter-spacing: 1px;
	text-align: left;
	background-image: url(../images/bj01.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px;
	height: 65px;
	padding-top: 46px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 41px;
}
.search li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.guangao {
	padding: 0px;
	width: 965px;
	clear: both;
	overflow: visible;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 8px solid #D1D1D1;
	background-color: #D1D1D1;
	height: 58px;
}
.guangao li{
	float:left;
	padding-right: 6px;
	padding-left: 2px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 50px;
}
.search_input {
	color: #000000;
	height: 16px;
	border: 1px solid #D3D1D1;
	clip:rect(   );
	width: 300px;
	background-image: url(../images/search3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.search_t {
	height: 19px;
	width: 88px;
	background-image: url(../images/search2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	margin: 0px;
	padding: 0px;
}



.top_menu {
	width:1000px;
	height: 30px;
	background-repeat: repeat-x;
	background-position: top;
	color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.top_menu li {
	float:left;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 7px;
}

#flash {
	background-color: #FFFFFF;
	height: 318px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
	background-image: url(../images/bj05.gif);
	background-repeat: repeat-x;
}
.flash_t {
	height: 302px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/* 网页主体部分 */
.main_box {
	width: 980px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
	background-color: #FFFFFF;
	clear: both;
	overflow: hidden;
	border-right-width: 10px;
	border-left-width: 10px;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-style: solid;
	border-left-style: solid;
}
.main_t {
	background-image: url(../images/bj04.gif);
	padding: 0px;
	height: 78px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.main_m {
	padding: 0px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: url(../images/bj00.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
	overflow: hidden;
}
.main_m2 {
	padding: 0px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: url(../images/bj001.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
	overflow: hidden;
}
.menu_r {
	margin: 0px;
	float: right;
	height: 18px;
	padding-top: 5px;
}
.menu_r ul {
	padding-top: 45px;
}
.menu_r li {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.main_box_t {
	background-color: #E4E4E4;
	height: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B3B4;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #022135;
	padding-left: 15px;
	padding-top: 18px;
	letter-spacing: 2px;
	margin: 0px;
	width: 184x;
}

.main_box_t_show {
	background-color: #E4E4E4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B3B4;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #022135;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
	height: 38px;
}
.main_box_t_show h1 {
	padding-top: 18px;
	padding-left: 15px;
	font-size: 14px;
	color: #333333;
	margin: 0px;
}


.main_box_l {
	margin: 0px;
	width: 276px;
	font-family: "宋体";
	font-size: 12px;
	color: #4B4B4B;
	line-height: 200%;
	letter-spacing: 1px;
	float: left;
	padding: 4px;
}
.main_box_l ul{
	padding-top: 8px;
}
.main_box_l p {
	text-indent: 0px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
}
.main_box_l_t {
	font-size: 14px;
	color: #000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #0C2C60;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 0px;
}
.main_box_tab {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	border-top:1px solid #0C2C60;
	border-left:1px solid #0C2C60;
	border-right:1px solid #0C2C60;
	border-bottom:2px solid #fff;
	border-radius:2px 2px 0 0;
	padding:6px 5px 4px;
	cursor:pointer;
}
.main_box_tab2 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding:6px 5px 4px;
	cursor:pointer;
}
.main_box_m {
	margin: 0px;
	float: left;
	width: 435px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
}
.main_box_m_t {
	font-size: 18px;
	color: #69B6EC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #0C2C60;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 32px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-family: "微软雅黑";
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 10px 13px;
}
.main_box_m ul {
	padding-top: 3px;
	padding-left: 13px;
}
.main_box_m li {
	padding-bottom: 10px;
	font-size: 14px;
	color: #000066;
}
.main_box_r {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 244px;
	overflow: hidden;
}

.main_box_r ul {
	padding-top: 12px;
	padding-bottom: 3px;
	margin: 0px;
	padding-left: 10px;
}

.main_box_r_img{
	padding-right: 8px;
	padding-left: 8px;
}
.main_box_r li {
	padding-bottom: 9px;
	padding-left: 5px;
	padding-top: 0px;
	margin: 0px;
	padding-right: 0px;
}
.main_box_r_show {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 307px;
	background-color: #F1F1F1;
	min-height: 1260px;
}
.main_box_r_show ul {
	padding-top: 12px;
	padding-bottom: 3px;
	margin: 0px;
	padding-left: 10px;
}
.xue_m{
	width: 440px;
	clear: both;
	overflow: hidden;
}
.xue_m dl {
	padding-top: 10px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 435px;
}

.xue_m dt {
	font-size: 17px;
	color: #69B6EC;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 32px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-family: "微软雅黑";
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 10px 18px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #B2B2B2;
	height: 25px;
	border-bottom-style: solid;
}
.xue_m dd {
	background-image: url(../images/btn02.gif);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 18px;
	width: 95px;
	padding-top: 22px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 14px;
	letter-spacing: 2px;
}
.xue_m_b ul {
	margin: 0px;
	float: left;
	width: 200px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.xue_m_top {
	font-size: 18px;
	color: #69B6EC;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 32px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-family: "微软雅黑";
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 10px 13px;
}
.main_box_gg1{
	background-color: #FFFFFF;
	border: 1px solid #D3D1D1;
	width: 286px;
	padding: 6px;
	margin-right: 2px;
	margin-left: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.xue_m_show{
	width: 307px;
	clear: both;
	overflow: hidden;
}
.xue_m_show dl {
	margin: 0px;
	width: 398px;
	padding: 0px;
}

.xue_m_show dt {
	font-size: 17px;
	color: #69B6EC;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 33px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
	font-family: "微软雅黑";
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #B2B2B2;
	height: 25px;
	border-bottom-style: solid;
}
.xue_m_show ul {
	width: 292px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 7px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D3D2D2;
	border-bottom-color: #D3D2D2;
	border-left-color: #D3D2D2;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
	overflow: hidden;
}

.xue_m_show dd {
	float: left;
	width: 96px;
	letter-spacing: 2px;
	height: 25px;
	text-align: center;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.xue_lj {
	background-color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D3D2D2;
	border-left-color: #D3D2D2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D3D2D2;
	margin: 0px;
	height: 35px;
	padding: 0px;
}
.xue_lj2{
	background-color: #F1F1F1;
	border: 1px solid #D3D2D2;
}
.main_box_gg2{
	width: 298px;
	padding: 0px;
	margin-right: 2px;
	margin-left: 4px;
	height: 70px;
	margin-top: 10px;
}

.main_box_gg2 img{
	border: 1px solid #D3D1D1;
	width: 298px;
}

#sai{
    width: 243px;
}
.sai_r_p{
	margin: 0px;
	padding-right: 10px;
	padding-left: 15px;
	color: #4B4B4B;
	font-size: 12px;
	text-indent: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 180%;
}

.sai_r_img{
	margin: 0px;
	padding: 10px;
}
.sai_l ul{
	margin: 0px;
	padding: 0px;
	width: 273px;
}


.sai_l li{
	float: left;
	padding-left: 5px;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 15px;
	margin: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	width: 127px;
}
.sai_l li img {
	border: 1px solid #D6D4D4;
	background-color: #FFF;
	padding: 5px;
	margin: 0px;
}

.sai_img img{
	border: 4px solid #FFF;
	margin: 0px;
	padding: 0px;
}
.sai_l p {
	text-align: center;
	padding: 0px;
	margin: 0px;
	clear: both;
	overflow: hidden;
}


#kan_r li {
	width: 230px;
	margin: 0px;
	height: 43px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.kan_r_tu  {
	margin: 0px;
	float: left;
	border: 2px solid #FFFFFF;
	padding: 0px;
}
.kan_r_text  {
	margin: 0px;
	float: right;
	width: 177px;
	line-height: 120%;
	color: ##4B4B4B;
	font-size: 12px;
	padding: 0px;
}
.kan_l_t {
	font-size: 12px;
	font-weight: bold;
	color: #EE5509;
	background-image: url(../images/bj07.gif);
	background-repeat: no-repeat;
	width: 260px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-top: 4px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
	overflow: hidden;
}
.kan_l_t2 {
	font-size: 12px;
	font-weight: bold;
	color: #EE5509;
	background-image: url(../images/bj07.gif);
	background-repeat: no-repeat;
	width: 260px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-top: 4px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
	overflow: hidden;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #0C2C60;
	font-family: "宋体";
}
.kan_l_t h1  {
	font-size: 12px;
	font-weight: bold;
	color: #EE5509;
	margin: 0px;
	padding: 0px;
}
.kan_l_t2 h1  {
	font-size: 12px;
	font-weight: bold;
	color: #EE5509;
	margin: 0px;
	padding: 0px;
}
.kan_l li{
	float: left;
	padding-right: 6px;
	padding-left: 0px;
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 6px;
}
.kan_l li p{
margin: 0px;
	font-size: 12px;
	color: #393939;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	letter-spacing: 1px;
}
.kan_l_line {
	background-color: #0C2C60;
	height: 2px;
	margin: 0px;
	width: 274px;
	padding: 0px;
}
.kan_m_b h1{
	font-size: 14px;
	font-weight: bold;
	color: #022135;
	background-image: url(../images/bj08.gif);
	background-repeat: repeat-x;
	margin: 0px;
	height: 19px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#liao_l li {
	height: 73px;
	width: 275px;
	line-height: 150%;
	padding-bottom: 0px;
	padding-top: 8px;
}
.liao_l_tu  {
	margin: 0px;
	float: left;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.liao_l_text  {
	background-image: url(../images/zz04.gif);
	background-repeat: no-repeat;
	margin: 0px;
	float: right;
	height: 70px;
	width: 187px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.liao_b{
	background-color: #F4F3F3;
	height: 58px;
	width: 270px;
	padding-bottom: 3px;
	padding-top: 5px;
	clear: both;
	overflow: hidden;
}
.liao_b li {
	float: left;
	width: 45px;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 3px;
	margin: 0px;
	padding-right: 0px;
}
.liao_m_top {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFCFD9;
	clear: both;
	overflow: hidden;
	padding-bottom: 10px;
}
.liao_m_b {
	border-bottom-color: #BFCFD9;
	clear: both;
	overflow: hidden;
}
.liao_m_top_l{
	float: left;
	background-color: #D6D6D6;
	padding: 5px;
}
.liao_m_top_l img {
	border: 1px solid #FFF;
}
.liao_m_top_r{
	float: left;
	padding-left: 8px;
	line-height: 150%;
	padding-top: 6px;
	width: 185px;
}
.liao_m_b ul {
	margin: 0px;
	float: left;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 213px;
}
.liao_r_b {
	width: 244px;
}
.liao_r_b ul {
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.liao_r_b li {
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 2px;
	padding-left: 2px;
}
.liao_r_b li img {
	border: 2px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.liao_r_b_arrow {
	float: left;
	padding-top: 17px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	padding-bottom: 0px;
}
.liao_r_b_show {
	margin: 0px;
	padding: 0px;
	width: 307px;
}
.liao_r_b_show ul {
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin: 0px;
}
.liao_r_b_show li {
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 2px;
	padding-left: 2px;
}
.liao_r_b_show li img {
	border: 2px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.liao_r_b_arrow_show {
	float: left;
	padding-top: 17px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	padding-bottom: 0px;
}
#shai{
   width:980px;
   	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}




#shai_t {
	background-color: #F1F1F1;
	width: 965px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 7px;
	font-size: 14px;
	font-weight: bold;
	color: #EE5509;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-bottom: 2px;
	height: 18px;
	clear: both;
	overflow: hidden;
}
#shai_t h1 {
	font-size: 14px;
	font-weight: bold;
	color: #EE5509;
	margin: 0px;
	padding: 0px;
}


#shai ul{
	padding-top: 15px;
	padding-left: 5px;
	width: 980px;
	padding-bottom: 25px;
	height: 160px;
}


#shai li{
	float: left;
	padding-right: 22px;
	padding-left: 0px;
	text-align: center;
	letter-spacing: 3px;
}
#shai li img {
	border: 1px solid #D6D4D4;
	background-color: #FFFFFF;
	padding: 5px;
	margin-right: 7px;
}
#shai li p {
	margin: 0px;
	font-size: 12px;
	color: #393939;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	letter-spacing: 1px;
}

#wan_m_l {
	margin: 0px;
	float: left;
	width: 205px;
	padding-right: 0px;
	padding-top: 10px;
	padding-left: 0px;
}
#wan_m_l ul {
	background-image: url(../images/line02.gif);
	background-repeat: repeat-x;
	height: 140px;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
}

#wan_m_l li {
	float: left;
	text-align: center;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin: 0px;
}

#wan_m_l li img {
	border: 1px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-right: 7px;
}
#wan_m_r {
	margin: 0px;
	float: right;
	width: 226px;
}
#wan_m_r_t {
	font-size: 14px;
	color: #000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #0C2C60;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 18px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

#pin_t {
	margin: 0px;
	padding: 0px;
	height: 74px;
	width: 726px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CECECE;
}
.pin_t_r {
	background-image: url(../images/p03.gif);
	background-repeat: no-repeat;
	background-position: left;
	margin: 0px;
	float: right;
	height: 60px;
	width: 305px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px;
}


.line {
	background-image: url(../images/line.gif);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.pin_t_l {
	background-image: url(../images/p01.gif);
	background-repeat: no-repeat;
	background-position: left;
	margin: 0px;
	float: left;
	height: 60px;
	width: 300px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
}
.pin_x{
	margin: 0px;
	width: 726px;
	float: left;
	padding-top: 5px;
	padding-bottom: 10px;
	}
.pin_box1 {
	margin: 0px;
	float: left;
	width: 310px;
}
.pin_box2 {
	margin: 0px;
	float: right;
	width: 405px;
}
#pin_t #form2 select {
	font-size: 12px;
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
}

#gou {
	padding: 0px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #E0E1EB;
	clear: both;
	overflow: hidden;
}
.gou_l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 726px;
}

.gou li {
	margin: 0px;
	padding: 0px;
	float: right;
}
.gou_l ul {
	background-image: url(../images/bj06.gif);
	background-repeat: repeat-x;
	float: left;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 726px;
}
.gou_l li {
	margin: 0px;
	float: left;
	width: 140px;
	text-align: center;
}
.gou_bj {
	background-color: #F1F1F1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}

.gou_l img {
	padding-bottom: 6px;
}
#yqlj {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #26638D;
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #DAECF6;
	border-top-width: 15px.px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-top-width: 15px;
	padding: 0px;
	letter-spacing: 2px;
	clear: both;
	overflow: hidden;
}
#yqlj li {
	float: left;
	width: 120px;
	padding-bottom: 10px;
}
#yqlj ul {
	padding-left: 30px;
	width: 972px;
	padding-top: 12px;
}
.yqlj_t {
	font-size: 14px;
	color: #9AD6F8;
	background-color: #0C466E;
	margin: 0px;
	height: 26px;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 15px;
	letter-spacing: 1px;
}

#foot {
	background-image: url(../images/foot.gif);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0px;
	height: 107px;
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	border-bottom-width: 15px;
	border-bottom-style: solid;
	border-bottom-color: #DAECF6;
}
.foot_text {
	margin: 0px;
	float: right;
	width: 700px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	color: #1D2960;
	line-height: 210%;
}
#main_m_l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 650px;
	background-color: #FFF;
}
#main_m_t {
	background-image: url(../images/0309.gif);
	background-repeat: repeat-x;
	height: 20px;
	width: 9426px;
	background-position: bottom;
	padding-top: 30px;
	padding-bottom: 8px;
	padding-left: 19px;
	padding-right: 35px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
	margin: 0px;
}
#main_m_t_zc {
	color: #000;
	font-weight: normal;
	letter-spacing: 4px;
	margin: 0px;
	float: right;
	height: 18px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#main_m_l h1 {
	font-size: 16px;
	font-weight: bold;
	color: #1C6DD1;
	padding-top: 45px;
	padding-bottom: 20px;
	text-align: center;
	letter-spacing: 2px;
}
#mian_m_l_text{
	margin: 0px;
	padding: 0px;
	min-height: 800px;
}
#main_m_l p {
	color: #333333;
	padding-right: 25px;
	padding-left: 30px;
	line-height: 180%;
	text-indent: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
.main_m_l_fb {
	background-color: #F1F1F1;
	width: 630px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	color: #7D7D7D;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-bottom: 40px;
}
.jcpl {
	width: 650px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-image: url(../images/0304.gif);
	background-repeat: repeat-x;
	background-position: top;
	clear: both;
	overflow: hidden;
}
.jcpl_m {
	background-color: #FAFAFA;
	border: 7px solid #EEE;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 180px;
}
.jcpl_m li {
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 15px;
	width: 610px;
}
.left_box01 {
	width: 650px;
	margin: 0px;
	clear: both;
	overflow: hidden;
}
.left_box02 {
	float: left;
	background-color: #E8F0F3;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	width: 318px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.left_box02 ul {
	width: 252px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 6px;
	clear: both;
	overflow: hidden;
}
.left_box02 li {
	margin: 0px;
	width: 250px;
	padding: 5px;
}

.left_box02_tit {
	background-image: url(../images/lb_bg02.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bolder;
	color: #292929;
	text-decoration: none;
	padding-top: 15px;
	margin: 0px;
	padding-left: 10px;
}