body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #121B71;

}
.top_bg_r {
	background-position: right top;
}
.top_bg_l {
	background-image: url(../images/yj21.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.blue12,a,a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #4DA5E9;
	text-decoration: none;
}
.blue14,a,a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #121B71;
	text-decoration: none;
}
.green12,a,a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #59CA32;
	text-decoration: none;
}
