{include admin/header}
        <script type="text/javascript">
            window.focus();
            $(function(){
                $.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({content:msg,lock:true,width:'200',height:'50'}, function(){this.close();$(obj).focus();})}});
                $("#base_title").formValidator({onshow:"请输入菜单名称",onfocus:"请输入菜单名称",oncorrect:"输入正确"}).inputValidator({min:1,onerror:"请输入菜单名称"});
                $("#base_order").formValidator({onshow:"请输入控制器",onfocus:"请输入控制器",oncorrect:"输入正确"}).inputValidator({min:1,onerror:"请输入控制器"});
            })
        </script>
 
        <div class="common-form">
            <form name="myform" id="myform" action="{BASE_PATH}/index.php/Admin_Node/add" method="post">
            	<input type="hidden" name='id' value="{$this->info['id']}">
                <table width="100%" class="table_form contentWrap">
                    <tr>
                        <th width="200">上级菜单：</th>
                        <td>
                            <select name="info[base_fid]" >
                                <option value="0">作为一级菜单</option>
                                {$this->selectCategorys}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>菜单名称：</th>
                        <td><input type="text" name="info[base_title]" value="{$this->info['base_title']}" id="base_title" class="input-text" ></td>
                    </tr>
                   
                    <tr>
                        <th>排序：</th>
                        <td><input type="text" name="info[base_order]" value="{$this->info['base_order']}" id="base_order" class="input-text" ></td>
                    </tr>
                    
                </table>
        </div>
        <div class="bk15"></div>
        <div class="btn"><input type="submit" id="dosubmit" class="button" name="dosubmit" value="提交"/></div>

        </form>

    </body>
</html>