<!--{if(isset($user['list']))}-->
<!--{foreach($user['list'] as $key=>$value)}-->
<!--{$user['list'][$key]['trindex']=$key;}-->
<!--{$user['list'][$key]['trid']=$value['user_id'];}-->
<!--{if($value['user_isok']==1)}-->
	<!--{$user['list'][$key]['user_isok']="<a href=\"javascript:;\" onclick=\"javascript:ui_ajax('{$html['isok']}user_id={$value['user_id']}',this);\"><span class=\"icon-table icon-isok\"></span>正常</a>";}-->
<!--{else}-->
	<!--{$user['list'][$key]['user_isok']="<a href=\"javascript:;\" onclick=\"javascript:ui_ajax('{$html['isok']}user_id={$value['user_id']}',this);\"><span class=\"icon-table icon-isjz\"></span>禁用</a>";}-->
<!--{/if}-->

<!--{$user['list'][$key]['user_order']="<a href=\"javascript:;\" onclick=\"javascript:ui_order('{$html['order']}user_id={$value['user_id']}&type=up',this);\"><span class=\"icon-table icon-up\"></span>升</a>";}-->
<!--{$user['list'][$key]['user_order'].=" <a href=\"javascript:;\" onclick=\"javascript:ui_order('{$html['order']}user_id={$value['user_id']}&type=down',this);\"><span class=\"icon-table icon-down\"></span>降</a>";}-->

<!--{$user['list'][$key]['cz']="<a href=\"javascript:;\"  onclick=\"javascript:ui_dialog('{$html['edit']}user_id={$value['user_id']}',this);\"><span class=\"icon-table icon-isedit\"></span>修改</a>";}-->

<!--{if($value['user_gd']==0)}-->
<!--{$user['list'][$key]['cz'].=" <a href=\"javascript:;\"  onclick=\"javascript:ui_qr('{$html['del']}user_id={$value['user_id']}',this);\"><span class=\"icon-table icon-isdel\"></span>删除</a>";}-->
<!--{/if}-->
<!--{/foreach}-->
<!--{else}-->
<!--{$user['list']=array();}-->
<!--{/if}-->
<!--{echo json_encode(array('total'=>$user['count'],'rows'=>$user['list']));}-->