{include admin/header}
        <script type="text/javascript">
            window.focus();
            $(function(){
                $.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({content:msg,lock:true,width:'200',height:'50'}, function(){this.close();$(obj).focus();})}});
                $("#video_title").formValidator({onshow:"请输入视频名称",onfocus:"请输入视频名称",oncorrect:"输入正确"}).inputValidator({min:1,onerror:"请输入视频名称"});
                $("#video_order").formValidator({onshow:"请输入排序号",onfocus:"请输入排序号",oncorrect:"输入正确"}).inputValidator({min:0,onerror:"请输入排序号"});
            })
        </script>
 
        <div class="common-form">
            <form name="myform" id="myform" action="{BASE_PATH}/index.php/Admin_Video/addDone" method="post">
            	<input type="hidden" name='id' value="{$this->info['id']}">
                <table width="100%" class="table_form contentWrap">
                    
                    <tr>
                        <th>名称：</th>
                        <td><input type="text" name="info[video_title]"  id="video_title" class="input-text" ></td>
                    </tr>
                   <tr>
                        <th>描述：</th>
                        <td><input type="text" name="info[video_description]"  id="video_description" class="input-text" ></td>
                    </tr>
					<tr>
                        <th>上传视频：</th>
                        <td>
                        	<link rel="stylesheet" type="text/css" href="{BASE_PATH}/statics/js/uploadify/uploadify.css">
                        	<input id="file_upload" name="file_upload" type="file" multiple="true">
						</td>
                    </tr>
					<tr>
                        <th>上传者：</th>
                        <td><input type="text" name="info[video_author]"  id="video_author" class="input-text" ></td>
                    </tr>
                    <tr>
                        <th>排序：</th>
                        <td><input type="text" name="info[video_order]"  id="video_order" class="input-text" ></td>
                    </tr>
                    
                </table>
        </div>
        <div class="bk15"></div>
        <div class="btn"><input type="submit" id="dosubmit" class="button" name="dosubmit" value="提交"/></div>

        </form>
<script src="{BASE_PATH}/statics/js/uploadify/upload.js"></script>
<script>
	 
    var sid = "{$p['sid']}";
    var timestamp = "{$p['timestamp']}";
    var token = "{$p['token']}";
	var domain = "{BASE_PATH}";
	$(function () {
        swf = {
            'checkExisting': '{BASE_PATH}/index.php/Admin_Video/checkFileExists',
             
            'url': commonParams.dodoStaticPath + '/shequPage/common/script/uploadify/uploadify.swf',
            'files': []
        };
        $('#file_upload').uploadify({
            'formData': {
                'timestamp': timestamp,
                'token': token,
            },
            'fileSizeLimit': '100MB',
            'swf': swf.url,
            'scriptData': { 'PHPSESSID': sid },
            'uploader': domain + '/index.php/Admin_Video/fileUploadDone?PHPSESSID=' + sid,
            'removeTimeout': 2,
            'debug': false,
            'uploadLimit': 1,
            'buttonText': '文件上传',
            'onUploadStart': function (file) {
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: swf.checkExisting,
                    data: { filename: file.name },
                    success: function (data) {
                        if (data == 1) {
                            //var overwrite = confirm('A file with the name "' + file.name + '" already exists on the server.\nWould you like to replace the existing file?');
                            //if (!overwrite) {
							   //art.dialog.alert('有')
                                //$('#file_upload').uploadify('cancel', file.id);
                               // $('#' + file.id).remove();
                            //}
                        }
                    }
                });
            },
            'onQueueComplete': function (queue) {
                //异步刷新父页面列表
                //getFilesList();
				
            },

            'onUploadSuccess': function (file, data, response) {
                swf.files.push(data);
               // swf.files.unique4();
            }
        });
    });
</script>
    </body>
</html>